<div class="page__footer-quicklinks">
  <a href="/join/">Join MAPZ</a>
  <span class="sep">·</span>
  <a href="/events/">Events</a>
  <span class="sep">·</span>
  <a href="/about/">About Us</a>
  <span class="sep">·</span>
  <a href="/faq/">FAQ</a>
  <span class="sep">·</span>
  <a href="/sponsors/">Sponsors</a>
  <span class="sep">·</span>
  <a href="/contact/">Contact</a>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title | escape_once | strip }}</a></div>
